NODE_ENV=development
PORT=4000
MONGO_URI=mongodb+srv://datapusher:kiran@cluster0.7ntkhx3.mongodb.net/datapush?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=sjdfh723r8r9hf983hf9834f98hf
JWT_EXPIRES_IN=7d
RATE_LIMIT_WINDOW_MS=1000
RATE_LIMIT_MAX_PER_WINDOW=5
BASE_URL=http://localhost:4000